<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/grades.css') }}">

{% extends "template.html" %}
{% block content %}
    <div class="main-content">
        <div class="content">
            <h2>Grades</h2>
            <hr>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Regrade</th>
                </tr>
                {% for grade in grades %}
                <tr>
                    <td>{{ grade.title }}</td>
                    <td>{{ grade.score }} / {{ grade.full }}</td>
                    <td><a href="{{ url_for('regrade') }}" target="_blank" class="regrade">Regrade Request</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}